n8n-workflow-chatbot.json
{
  "name": "Chatbot Juridique",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chatbot",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "chatbot-juridique"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:9800/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"question\": $json.body.question } }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-request-fastapi",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reponse\": $json.reponse, \"sources\": $json.sources } }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
